In [5]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2_fatihul"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM ps2;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Diva', 'P', 2020, 170, 15, 'Taman Anggrek\r')
('Manda', 'P', 2020, 165, 60, 'Bekasi\r')
('Rukhy', 'P', 2020, 160, 60, 'Bekasi\r')
('Tya', 'P', 2020, 150, 45, 'Taman Anggrek\r')
('Ica', 'P', 2020, 165, 60, 'Bekasi\r')
('Delia', 'P', 2020, 160, 60, 'Jakbar\r')
('Gita', 'P', 2020, 160, 60, 'Tangsel\r')
('Viky', 'L', 2020, 160, 60, 'Bekasi\r')
('Upo', 'L', 2020, 150, 60, 'Kalteng\r')
('Ibnu', 'L', 2020, 170, 70, 'Tangsel\r')
('Ricky', 'L', 2020, 160, 45, 'Grogol\r')
('Akmal', 'L', 2020, 160, 35, 'Tangerang\r')
('Dhila', 'P', 2020, 155, 60, 'Tangerang\r')
('Noto', 'L', 2020, 170, 45, 'Grogol\r')
('Ricardo', 'L', 2020, 170, 30, 'Jawa\r')
('Alya', 'P', 2020, 170, 60, 'Brunai\r')
('Aldo', 'L', 2020, 170, 70, 'Bekasi\r')
('Riska', 'P', 2020, 160, 15, 'Grogol\r')
('Aldy', 'L', 2020, 160, 25, 'Daan Mogot\r')
('Kresna', 'L', 2020, 165, 70, 'Bekasi\r')

In [6]:
import pandas as pd
# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

# Filter data berdasarkan kondisi yang kompleks
df_filtered = df[df['Gender'] == 'P']

# Menampilkan hasil filter
print(df_filtered)

TypeError: 'NoneType' object is not iterable

In [7]:
import mysql.connector
import pandas as pd

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2_fatihul"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

# Menjalankan kueri SQL
query = "SELECT * FROM ps2"
cursor.execute(query)

# Mengambil semua hasil kueri
result = cursor.fetchall()

# Mengambil nama kolom dari tabel
columns = [desc[0] for desc in cursor.description]

# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=columns)

# Filter data berdasarkan kondisi yang kompleks
df_filtered = df[df['Gender'] == 'P']

# Menampilkan hasil filter
print(df_filtered)

# Menutup koneksi
cursor.close()
connection.close()

     Nama Gender  Angkatan   Tinggi Badan  Waktu Perjalanan  Wilayah Tinggal
0    Diva      P      2020            170                15  Taman Anggrek\r
1   Manda      P      2020            165                60         Bekasi\r
2   Rukhy      P      2020            160                60         Bekasi\r
3     Tya      P      2020            150                45  Taman Anggrek\r
4     Ica      P      2020            165                60         Bekasi\r
5   Delia      P      2020            160                60         Jakbar\r
6    Gita      P      2020            160                60        Tangsel\r
12  Dhila      P      2020            155                60      Tangerang\r
15   Alya      P      2020            170                60         Brunai\r
17  Riska      P      2020            160                15         Grogol\r